target/
.settings/
.project
.classpath
.metadata/
*.iml
*.ipr
*.iws
*.pdf
*.png

Thumbs.db
.idea/
git.properties
molgenis-compute-core/test-output
data/
test-output/
nbactions*.xml
*~

nb-configuration.xml

eqtl-mapping-pipeline/nb-configuration.xml
/eQTLInteractionAnalyser/nbproject/private/
/eQTLInteractionAnalyser/build/
/eQTLInteractionAnalyser/dist/
/eQTLInteractionAnalyser2/build/
/eQTLInteractionAnalyser2/dist/
/eQTLInteractionAnalyser2/nbproject/private/