target/
.settings/
.project
.classpath
.metadata/
*.iml
*.ipr
*.iws
*.pdf
*.png
*.txt.gz
Thumbs.db
.idea/
git.properties
molgenis-compute-core/test-output
data/
test-output/
nbactions.xml
*~

eqtl-mapping-pipeline/nbactions-testAse.xml
eqtl-mapping-pipeline/nbactions-testAse.xml
