<?xml version="1.0" encoding="utf-8" standalone="no"?>
<settings>
<defaults>
 		<qc>
			<snpqccallratethreshold>0.95</snpqccallratethreshold>
			<snpqchwethreshold>0.0001</snpqchwethreshold>
			<snpqcmafthreshold>0.05</snpqcmafthreshold>
		</qc>
		
		<analysis>
			<analysistype>cis</analysistype>
			<cisanalysisprobedistance>250000</cisanalysisprobedistance>
			<correlationtype>nonparametric</correlationtype>
			<regressOutEQTLEffects></regressOutEQTLEffects>
			<threads>2</threads>
			<onlypermutations>false</onlypermutations>
            <randomseed>0</randomseed>
		</analysis>
		
		<multipletesting>
			<type>fdr</type>
			<threshold>0.05</threshold>
			<permutations>100</permutations>
            <fdrtype>FULL</fdrtype>
            <fullFdrOutput>false</fullFdrOutput>
		</multipletesting>
		
		<output>
			<outputdirectory>ReplacementTxt\outMeta1\</outputdirectory>
			<outputplotthreshold>1E-10</outputplotthreshold>
			<outputplotdirectory>ReplacementTxt\outMeta1\Plot\</outputplotdirectory>
			<maxnreqtlresults>500000</maxnreqtlresults>
			<generatesnpsummarystatistics>false</generatesnpsummarystatistics>
			<generateeqtlpvaluetable>false</generateeqtlpvaluetable>
		</output>
		
		<confine>
			<snp/>
			<snpProbe/>
			<probe/>
			<confineSNPsToSNPsPresentInAllDatasets>false</confineSNPsToSNPsPresentInAllDatasets>
			<confineSNPsSelectSNPInStrongestLD>false</confineSNPsSelectSNPInStrongestLD>
			<confineProbesThatMapToKnownChromosome>true</confineProbesThatMapToKnownChromosome>
		</confine>	
	</defaults>
	<datasets>
		<dataset>
			<name>Guevadis_YRI</name>
			<location>ReplacementTxt\trityper</location>
			<genometoexpressioncoupling>ReplacementTxt\Geuvadis_YRI_gte.txt</genometoexpressioncoupling>
			<expressiondata>ReplacementTxt\Geuvadis_CEU_YRI_Expr.txt.gz</expressiondata>
			<probeannotation>ReplacementTxt\Geuvadis_CEU_YRI_Annot.txt</probeannotation>
			<expressionplatform>Ensembl_v.71</expressionplatform>
			<quantilenormalize>false</quantilenormalize>
			<logtranform>false</logtranform>
		</dataset>
		<dataset>
			<name>Guevadis_CEU</name>
			<location>ReplacementTxt\trityper</location>
			<genometoexpressioncoupling>ReplacementTxt\Geuvadis_CEU_gte.txt</genometoexpressioncoupling>
			<expressiondata>ReplacementTxt\Geuvadis_CEU_YRI_Expr.txt.gz</expressiondata>
			<probeannotation>ReplacementTxt\Geuvadis_CEU_YRI_Annot.txt</probeannotation>
			<expressionplatform>Ensembl_v.71</expressionplatform>
			<quantilenormalize>false</quantilenormalize>
			<logtranform>false</logtranform>
		</dataset>
	</datasets>
</settings>
