<?xml version="1.0" encoding="utf-8" standalone="no"?>
<settings>
    <defaults>
        <qc>
            <snpqccallratethreshold>0.95</snpqccallratethreshold>
            <snpqchwethreshold>0.0001</snpqchwethreshold>
            <snpqcmafthreshold>0.05</snpqcmafthreshold>
        </qc>
		
        <analysis>
            <analysistype>trans</analysistype>
            <cisanalysisprobedistance>500000</cisanalysisprobedistance>
            <correlationtype>nonparametric</correlationtype>
            <equalrankforties>false</equalrankforties>
            <regressOutEQTLEffects></regressOutEQTLEffects>
            <regressOutEQTLEffectsSaveOutput>false</regressOutEQTLEffectsSaveOutput>
            <pathwaydefinition></pathwaydefinition>
            <threads>2</threads>
            <onlypermutations>false</onlypermutations>
            <randomseed>0</randomseed>
            <createdotplot>false</createdotplot>
            <createqqplot>false</createqqplot>
            <metaAnalyseInteractionTerms>false</metaAnalyseInteractionTerms>
            <permuteCovariates>false</permuteCovariates>
            <metaAnalyseModelCorrelationYHat>false</metaAnalyseModelCorrelationYHat>
            <useabsolutepvalue>false</useabsolutepvalue>
        </analysis>
		
        <multipletesting>
            <type>fdr</type>
            <threshold>0.05</threshold>
            <permutations>5</permutations>
            <fdrtype>probe</fdrtype>
            <fullFdrOutput>false</fullFdrOutput>
        </multipletesting>
		
        <output>
            <outputdirectory>${OutputFolder}</outputdirectory>
            <outputplotthreshold>0</outputplotthreshold>
            <outputplotdirectory>${OutputFolder}/Plot/</outputplotdirectory>
            <maxnreqtlresults>500000</maxnreqtlresults>
            <generatesnpsummarystatistics>false</generatesnpsummarystatistics>
            <generatesnppvaluesummarystatistics>false</generatesnppvaluesummarystatistics>
            <generatefoldchangevalues>false</generatefoldchangevalues>
            <generatebetaandfoldchanges>false</generatebetaandfoldchanges>
            <generateeqtlpvaluetable>false</generateeqtlpvaluetable>
            <binaryoutput>false</binaryoutput>
            <textoutput>true</textoutput>
        </output>
		
        <confine>
            <snp></snp>
            <snpProbe>${InputFolder}/snpProbeCombinations_transQTL.txt</snpProbe>
            <probe></probe>
            <snpProbeConfineBasedOnChrPos></snpProbeConfineBasedOnChrPos>
            <confineSNPsToSNPsPresentInAllDatasets>false</confineSNPsToSNPsPresentInAllDatasets>
            <confineSNPsSelectSNPInStrongestLD>false</confineSNPsSelectSNPInStrongestLD>
            <confineProbesThatMapToKnownChromosome>true</confineProbesThatMapToKnownChromosome>
        </confine>	
    </defaults>
    <datasets>
        <dataset>
            <name>Guevadis_YRI</name>
            <location>${InputFolder}/trityper</location>
            <genometoexpressioncoupling>${InputFolder}/Geuvadis_YRI_gte.txt</genometoexpressioncoupling>
            <expressiondata>${InputFolder}/Geuvadis_CEU_YRI_Expr.txt.gz</expressiondata>
            <probeannotation>${InputFolder}/Geuvadis_CEU_YRI_Annot.txt</probeannotation>
            <covariates></covariates>
            <expressionplatform>Ensembl_v.71</expressionplatform>
            <quantilenormalize>false</quantilenormalize>
            <logtranform>false</logtranform>
        </dataset>
        <dataset>
            <name>Guevadis_CEU</name>
            <location>${InputFolder}/trityper</location>
            <genometoexpressioncoupling>${InputFolder}/Geuvadis_CEU_gte.txt</genometoexpressioncoupling>
            <expressiondata>${InputFolder}/Geuvadis_CEU_YRI_Expr.txt.gz</expressiondata>
            <probeannotation>${InputFolder}/Geuvadis_CEU_YRI_Annot.txt</probeannotation>
            <covariates></covariates>
            <expressionplatform>Ensembl_v.71</expressionplatform>
            <quantilenormalize>false</quantilenormalize>
            <logtranform>false</logtranform>
        </dataset>
    </datasets>
</settings>
