<?xml version="1.0" encoding="utf-8" standalone="no"?>
<settings>
<defaults>
 		<qc>
			<snpqccallratethreshold>0.95</snpqccallratethreshold>
			<snpqchwethreshold>0.0001</snpqchwethreshold>
			<snpqcmafthreshold>0.05</snpqcmafthreshold>
		</qc>
		
		<analysis>
			<analysistype>cis</analysistype>
			<cisanalysisprobedistance>250000</cisanalysisprobedistance>
			<correlationtype>nonparametric</correlationtype>
			<regressOutEQTLEffects></regressOutEQTLEffects>
			<threads>2</threads>
			<onlypermutations>false</onlypermutations>
		</analysis>
		
		<multipletesting>
			<type>fdr</type>
			<threshold>0.05</threshold>
			<permutations>100</permutations>
		</multipletesting>
		
		<output>
			<outputdirectory></outputdirectory>
			<outputplotthreshold>0</outputplotthreshold>
			<outputplotdirectory></outputplotdirectory>
			<maxnreqtlresults>500000</maxnreqtlresults>
			<generatesnpsummarystatistics>false</generatesnpsummarystatistics>
			<generateeqtlpvaluetable>false</generateeqtlpvaluetable>
		</output>
		
		<confine>
			<snp></snp>
			<snpProbe/>
			<probe></probe>
			<confineSNPsToSNPsPresentInAllDatasets>false</confineSNPsToSNPsPresentInAllDatasets>
			<confineSNPsSelectSNPInStrongestLD>false</confineSNPsSelectSNPInStrongestLD>
			<confineProbesThatMapToKnownChromosome>true</confineProbesThatMapToKnownChromosome>
		</confine>	
	</defaults>
	<datasets>
		<dataset>
			<name>Guevadis_YRI</name>
			<location></location>
			<genometoexpressioncoupling></genometoexpressioncoupling>
			<expressiondata></expressiondata>
			<probeannotation></probeannotation>
			<expressionplatform></expressionplatform>
			<quantilenormalize>false</quantilenormalize>
			<logtranform>false</logtranform>
		</dataset>
		<dataset>
			<name>Guevadis_CEU</name>
			<location></location>
			<genometoexpressioncoupling></genometoexpressioncoupling>
			<expressiondata></expressiondata>
			<probeannotation></probeannotation>
			<expressionplatform></expressionplatform>
			<quantilenormalize>false</quantilenormalize>
			<logtranform>false</logtranform>
		</dataset>
	</datasets>
</settings>
